<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h5>Ilkine bir integer arrayi ve ikincisine ilkinde olan bir eleman, üçüncüsüne bir integer arrayi ve dördüncüsüne 3. olan bir eleman varsa ve bu elemanların ilk bulunduğu indexler eşit ise true döner</h5>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
